name: ZAP DAST Scan

on:
  push:
    branches: 
      - main

  pull_request:
    branches: 
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    services:
      web:
        image: emacodes/owasp-app:latest
        ports:
          - 3000:3000
        options: >-
          --health-cmd "curl -f http://localhost:3000 || exit 1"
          --health-interval 5s
          --health-timeout 2s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Build Docker image
      run: docker build -t owasp-app .

    - name: Start Web App
      run: docker run -d -p 3000:3000 owasp-app

    - name: Run OWASP ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.15.0
      with:
        target: "http://localhost:3000"
        report_format: html
        cmd_options: "-a"

    - name: Upload ZAP HTML Report
      uses: actions/upload-artifact@v4
      with:
        name: zap-report
        path: report_html.html

